<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  <title>Accept Student Enrolment Requests</title>
  <link rel="stylesheet" href="../static/css/acceptIntoCourse.css">
</head>

<body>
  <div class="header">
    <h2>Accept Student Enrolment Requests</h2>
  </div>

  <div class="requestContainer">
    <ul>
      {% for request in requests %}
      <li>
        <div class="request">
          <h3>{{ request.course_id }}</h3>
          <p><strong>{{ request.user_id }}</strong> has requested to enroll in this course</p>
          <form method="POST" action="{{ url_for('views.acceptRequest') }}" class="req-action-form">
            <input type="hidden" name="course_id" value="{{ request.course_id }}">
            <input type="hidden" name="user_id" value="{{ request.user_id }}">
            <input type="submit" class="acceptButton" value="Accept">
          </form>
          <form method="POST" action="{{ url_for('views.declineRequest') }}" class="req-action-form">
            <input type="hidden" name="course_id" value="{{ request.course_id }}">
            <input type="hidden" name="user_id" value="{{ request.user_id }}">
            <input type="submit" class="declineButton" value="Decline">
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</body>

</html>