<!DOCTYPE html>
<html>
<head>
    <title>{{ course.course_code }}</title>
</head>
<body>
    <h1>{{ course.course_code }} : {{ course.course_name}}</h1>
    <p>Course Description : {{ course.course_desc }}</p>
    <p>Course Limit : {{ course.course_limit }}</p>
    <p>Teacher Id : {{ course.teacher_id }}</p>

    <h3>Quizzes:</h3>
    <ul>
        {% for quiz in quizzes %}
            <li><a href="{{ url_for('views.quiz_page', course_id=course.id, quiz_id=quiz.id) }}">{{ quiz.quiz_name }}</a></li>
        {% endfor %}
    </ul>

    <h3>Essays:</h3>
    <ul>
        {% for essay in essays %}
                <li><a href="{{ url_for('views.essay_page', course_id=course.id, essay_id=essay.id) }}">{{ essay.essay_name }}</a></li>
        {% endfor %}
    </ul>

    {% if current_user.user_type in ['teacher'] %}
        <h3>Create New Assignment:</h3>
        <a href="{{ url_for('views.createAssignment', course_id=course.id) }}">Link</a>
    {% endif %}

    {% if current_user.user_type in ['teacher'] %}
        <h3>Grade Assignments:</h3>

        {% for quiz in quizzes %}
        <h4>Quiz: {{ quiz.quiz_name }}</h4>
        <ul>
            {% for student_id in quiz_submissions[quiz.id] %}
                <li>Submission of Student Id: {{ student_id }}</li>
            {% endfor %}
        </ul>
        {% endfor %}

        {% for essay in essays %}
        <h4>Essay: {{ essay.essay_name }}</h4>
        <ul>
            {% for student_id in essay_submissions[essay.id] %}
            <li>Submission of Student Id: {{ student_id }}</li>
            {% endfor %}
        </ul>
        {% endfor %}

    {% endif %}

    {% if current_user.user_type in ['student'] %}
        <h3>View Your Grades:</h3>
        <a href="{{ url_for('views.grade_page', course_id=course.id) }}">Link</a>
    {% endif %}

</body>
</html>