<!DOCTYPE html>
<html>
<head>
    <title>{{ course.course_code }}</title>
</head>
<body>
    <h1>{{ course.course_code }} : {{ course.course_name}}</h1>
    <p>Course Description : {{ course.course_desc }}</p>
    <p>Course Limit : {{ course.course_limit }}</p>
    <p>Teacher Id : {{ course.teacher_id }}</p>

    <h3>Quizzes:</h3>
    <ul>
        {% for quiz in quizzes %}
            <li>{{ quiz.quiz_name }}</li>
        {% endfor %}
    </ul>

    <h3>Essays:</h3>
    <ul>
        {% for essay in essays %}
                <li>{{ essay.essay_name }}</li>
        {% endfor %}
    </ul>

    {% if current_user.user_type in ['teacher'] %}
        <h3>Create New Quiz:</h3>
        <a href="{{ url_for('views.createAssignment', course_id=course.id) }}">Create New Quiz</a>
    {% endif %}

</body>
</html>