<!DOCTYPE html>
<html>
<head>
    <title>{{ course.course_code }}</title>
</head>
<body>
    <h1>{{ course.course_code }} : {{ course.course_name}}</h1>
    <p>Course Description : {{ course.course_desc }}</p>
    <p>Course Limit : {{ course.course_limit }}</p>
    <p>Teacher Id : {{ course.teacher_id }}</p>

    <h3>Quizzes:</h3>
    <ul>
        <li>Quiz 01</li>
        <li>Lab 02</li>
    </ul>

    <h3>Essays:</h3>
    <ul>
        <li>Ethics of GPT</li>
        <li>Privacy Essay</li>
    </ul>
</body>
</html>