<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Assignment</title>
  <link rel="stylesheet" href="../static/css/createAssignment.css">
</head>

  <body>
    <div class="form-container">
      <form class="assignment-form" method="POST"
      >
        <h2>Create Assignment</h2>
        
        <label for="title" class="items">Title</label>
        <input type="text" id="title" name="title" required>

        <div class="assignment-type radio-group">
          <label class="items">Assignment Type</label>
          <label><input type="radio" name="assignmentType" value="quiz" onclick="toggleAssignmentType()" required> Quiz</label>
          <label><input type="radio" name="assignmentType" value="essay" onclick="toggleAssignmentType()"> Essay</label>
        </div>

        <div class="quiz-content">
          <div class="content-type">
            <label class="items">Content Type</label>
            <div class="radio-group">
              <label><input type="radio" name="contentMethodQuiz" value="file" onclick="toggleContentMethod('quiz')" checked required> Upload File</label>
              <label><input type="radio" name="contentMethodQuiz" value="text" onclick="toggleContentMethod('quiz')"> Enter Text</label>
            </div>
          </div>

          <div class="file-upload-quiz visible">
            <label for="file-upload-quiz" class="items">Upload File</label>
            <input type="file" id="file-upload-quiz" name="file-upload-quiz">
          </div>

          <div class="text-entry-quiz">
            <div id="quiz-questions">
              <label for="question1" class = "items">Question #1</label>
              <input type="text" id="question1" name="question1">
              <button type="button" onclick="addQuestion()">Add Question</button>
            </div>
          </div>
        </div>

        <div class="essay-content">
          <div class="content-type">
            <label class="items">Content Type</label>
            <div class="radio-group">
              <label><input type="radio" name="contentMethodEssay" id="fileRadio" value="file" onclick="toggleContentMethod('essay')" checked required
                > Upload File</label>
              <label><input type="radio" name="contentMethodEssay" id="textRadio" value="text" onclick="toggleContentMethod('essay')"> Enter Text</label>
            </div>
          </div>

          <div class="file-upload-essay visible">
            <label for="file-upload-essay" class="items">Upload File</label>
            <input type="file" id="file-upload-essay" name="file-upload-essay">
          </div>

          <div class="text-entry-essay">
            <label for="text-entry-essay">Text Entry</label>
            <textarea id="text-entry-essay" name="text-entry-essay"></textarea>
          </div>
        </div>
        
        <button type="submit">Post Assignment</button>
      </form>
    </div>

    <script>
      function toggleAssignmentType() {
        var assignmentType = document.querySelector('input[name="assignmentType"]:checked').value;
        var quizContent = document.querySelector('.quiz-content');
        var essayContent = document.querySelector('.essay-content');
        quizContent.style.display = assignmentType === 'quiz' ? 'block' : 'none';
        essayContent.style.display = assignmentType === 'essay' ? 'block' : 'none';
        if (assignmentType === 'quiz') {
          document.querySelector('input[name="contentMethodQuiz"][value="file"]').checked = true;
        }
        else {
          document.querySelector('input[name="contentMethodEssay"][value="file"]').checked = true;
        }
        toggleContentMethod(assignmentType);
      }

      function toggleContentMethod(assignmentType) {
        var methodType = assignmentType === 'quiz' ? 'Quiz' : 'Essay';
        var contentMethod = document.querySelector(`input[name="contentMethod${methodType}"]:checked`).value;
        var fileUpload = document.querySelector(`.file-upload-${assignmentType.toLowerCase()}`);
        var textEntry = document.querySelector(`.text-entry-${assignmentType.toLowerCase()}`);
        fileUpload.style.display = contentMethod === 'file' ? 'block' : 'none';
        textEntry.style.display = contentMethod === 'text' ? 'block' : 'none';
      }

      function addQuestion() {
        var quizQuestions = document.getElementById('quiz-questions');
        var questionCount = quizQuestions.querySelectorAll('input[type=text]').length + 1;
        var newLabel = document.createElement('label');
        newLabel.setAttribute('for', 'question' + questionCount);
        newLabel.setAttribute('class', 'items');
        newLabel.textContent = 'Question #' + questionCount;

        var newInput = document.createElement('input');
        newInput.type = 'text';
        newInput.id = 'question' + questionCount;
        newInput.name = 'question' + questionCount;

        var addButton = quizQuestions.querySelector('button');
        quizQuestions.insertBefore(newLabel, addButton);
        quizQuestions.insertBefore(newInput, addButton);

        toggleAssignmentType();
      }
    </script> 
  </body>
</html>
