<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  <title>Course Enrollment</title>
  <link rel="stylesheet" href="../static/css/enrollCourse.css">
</head>

<body>

  <div class="subjectSelection">
    <label for="subjectFilter">Select Subject: </label>
    <select id="subjectFilter" onchange="filterCourses()">
      <option value="All Subjects">All Subjects</option>
      <option value="COSC">Computer Science</option>
      <option value="PHYS">Physics</option>
      <option value="DATA">Data Science</option>
      <option value="MATH">Mathematics</option>
      <option value="STAT">Statistics</option>
    </select>
  </div>

  <div class="courseList">
    <ul>
      {% for course in courses %}
      <li>
        <div class="course">
          <h3>{{ course.course_code }}: {{ course.course_name }}</h3>
          <p>{{ course.course_desc }}</p>
          <p><strong>Instructor: </strong>{{ course.teacher_id }}</p>
          <p><strong>Total Students: </strong>{{ course.course_limit }}</p>
          <form method="POST" action="{{ url_for('views.createRequest') }}">
            <input type="hidden" name="course_name" value="{{ course.course_name }}">
            <input type="submit" class="enrollButton" value="Request to Enroll">
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <script>
    function filterCourses() {
    }
  </script>

</body>

</html>