<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Quiz</title>
    <link rel="stylesheet" href="../static/css/gradeAssignment.css">
</head>

<body>
    <div class="grading-container">
        <h1>Grade Quiz</h1>
        <h3>Assignment Name: {{ quiz.quiz_name }}</h3>
        <h3>Student: {{ student.first_name }} {{ student.last_name }}</h3>
        <h3>Max Grade: {{ quiz.quiz_max_grade }}</h3>

        <form action="{{ url_for('views.grade_quiz', course_id=course_id, quiz_id=quiz.id, student_id=student.id) }}"
            method="POST">
            {% for submission in submissions %}
            <div class="question">
                <h4>Question: {{ loop.index }}</h4>
                <p>{{ submission.question_text }}</p>
                <input type="radio" name="option1" disabled>
                <label for="option1">{{ submission.question_option1 }}</label><br>
                <input type="radio" name="option2" disabled>
                <label for="option2">{{ submission.question_option2 }}</label><br>
                <input type="radio" name="option3" disabled>
                <label for="option3">{{ submission.question_option3 }}</label><br>

                <h4>Answer</h4>
                <p>{{ submission.selected_option }}</p>

                <label for="grade_{{ submission.id }}">Grade Question:</label>
                <input type="number" name="grade_{{ submission.id }}"
                    placeholder="Grade out of {{ submission.max_grade }}" min="0" max="{{ submission.max_grade }}"
                    required>
            </div>
            {% endfor %}
            <button type="submit">Submit Grades</button>
        </form>
    </div>
</body>

</html>