<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Home Page</h1>
    <h3>Details of user logged in-:<h3>
    <h3>username: {{ user.username }}</h3>
    <h3>first name: {{ user.first_name }}</h3>
    <h3>last name: {{ user.last_name }}</h3>   
    <h3>DOB: {{ user.DOB }}</h3>
    <h3>role: {{ user.user_type }}</h3>
</body>
</html>
