  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz: {{ quiz.quiz_name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
</head>
<body>
  {% include 'sidebar.html' %}
  <div class="main-content">
    <div class="quiz-title">
      <h2>Quiz Title: {{ quiz.quiz_name }}</h2>
    </div>
  <div class="quiz-container">
    <form class="quiz-form" method="POST" action="/submit_quiz">
      
      {% if already_submitted %}
      <p>You have already submitted this quiz.</p>
      {% else %}  

      {% for question in questions %}
      <div class="question">
        <p class="question-text">{{ loop.index }}. {{ question.question_text }}</p>
        <div class="options">
          <label class="option">
            <input type="radio" name="{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}
          </label>
          <label class="option">
            <input type="radio" name="{{ question.id }}" value="{{ question.option2 }}">{{ question.option2 }}
          </label>
          <label class="option" >
            <input type="radio" name="{{ question.id }}" value="{{ question.option3 }}">{{ question.option3 }}
          </label>
        </div>
      </div>
      {% endfor %}

      <input type="hidden" name="quiz_id" value="{{ quiz.id }}">

      {% if current_user.user_type not in ['admin'] %}
        <button type="submit" class="submit-quiz">Submit Answers</button>
      {% endif %}

      {% endif %}

    </form>
  </div>
  </div>
</body>
</html>