<style>
    /* Sidebar Styles */
    .sidebar {
        height: 100%;
        width: 175px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(20, 49, 130, 0.8);
        padding-top: 40px;
        color: #333;
        font-family: Arial, sans-serif;
    }
    .sidebar-header {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .sidebar-header img {
        width: 120px; /* Adjust the width of the logo as needed */
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .sidebar li:last-child {
        border-bottom: none;
    }

    .sidebar li a {
        text-decoration: none;
        color: white;
        transition: color 0.3s;
        font-weight: normal;
    }
    .sidebar li a:hover {
        color: #0056b3;
    }
    .main-content {
        margin-left: 200px; /* Adjusted margin to accommodate sidebar width */
        padding: 20px;
    }
</style>

<div class="sidebar">
    <div class="sidebar-header">
        <img src="static/blacklogo.svg" alt="Edupool Logo">
    </div>
    <ul>
        <li><a href="{{ url_for('views.home') }}">- &nbsp;Dashboard</a></li>
        <li><a href="#">- &nbsp;Profile</a></li>
        <li><a href="#">- &nbsp;Settings</a></li>
        <li><a href="{{ url_for('auth.logout') }}">- &nbsp;Logout</a></li>
    </ul>
</div>
