<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sidebar.css">
</head>

<body>
    <div class="sidebar">
        <a href="{{ url_for('views.home') }}">
            <img src="../static/blacklogo.svg" alt="logo">
        </a>
        <ul>
            <li><a href="{{ url_for('views.home') }}">Dashboard</a></li>
            <li><a href="{{ url_for('views.account_details') }}">My Profile</a></li>
            <li><a href="{{ url_for('views.edit_details') }}">Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}" id="logout">Logout</a></li>
        </ul>
    </div>
</body>
</html>