<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Submissions</title>
    <link rel="stylesheet" href="../static/css/viewSubmissions.css">
</head>

<body>
    <div class="grade-assignments-container">
        <h1>View Submissions</h1>
        <h2>Assignment Title</h2>

        <div class="submissions-list">
            <!-- Loop through quiz submissions -->
            {% for submission, quiz_name in quiz_submissions_with_names %}
            <form method="post"
                action="{{ url_for('views.grade_assignment', course_id=course_id, assignment_id=submission.quiz_id, student_id=submission.student_id) }}">
                <div class="student-submission">
                    <p>{{ submission.student_id }} has made a submission for "{{ quiz_name }}"</p>
                    <button type="submit">Grade Submission</button>
                </div>
            </form>
            {% endfor %}

            <!-- Loop through essay submissions -->
            {% for submission, essay_name in essay_submissions_with_names %}
            <form method="post"
                action="{{ url_for('views.grade_assignment', course_id=course_id, assignment_id=submission.essay_id, student_id=submission.student_id) }}">
                <div class="student-submission">
                    <p>{{ submission.student_id }} has made a submission for "{{ essay_name }}"</p>
                    <button type="submit">Grade Submission</button>
                </div>
            </form>
            {% endfor %}

        </div>
    </div>
</body>

</html>