body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6495ED;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.header h2 {
  color: #FFF;
  margin-bottom: 20px;
  text-align: center;
}

.request h3 {
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.requestContainer {
  width: 100%;
  max-width: 600px;
}

.request {
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.request p {
  margin-bottom: 15px;
  text-align: center;
}

.acceptButton,
.declineButton {
  padding: 10px 15px;
  width: 48.5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select {
  appearance: none;
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 4px;
  box-sizing: border-box;
}

.acceptButton {
  background-color: #4CAF50;
  margin-right: 10px;
  color: #FFF;
}

.declineButton {
  background-color: #F00;
  color: #FFF;
}

.acceptButton:hover {
  background-color: #45a049;
}

.declineButton:hover {
  background-color: #B00;
}

.req-action-form {
  display: inline;
}

#toastBox {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.toast {
  width: 300px;
  height: 50px;
  background-color: #FFF;
  font-weight: 800;
  color: #222;
  margin: 20px 0;
  box-shadow: 0 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  transform: translateX(100%);
  animation: moveleft 0.5s linear forwards;
  font-size: 1.5em;
}

@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}

.toast::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #45a049;
  animation: anim 3s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

.decline::after {
  background-color: #B00;
}