body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #f0f2f5);
    margin: 0;
    padding: 20px;
}
section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-top: 20px;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

#post-discussion, #discussions {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(56, 46, 46, 0.1);
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #0056b3; /* Darker color on hover */
}


.discussion {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.discussion:last-child {
    border-bottom: none;
}

.replies {
    margin-top: 20px;
}

.reply {
    padding-left: 20px;
    border-left: 3px solid #007bff;
    margin-bottom: 10px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #ffffff;
}
