body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6495ED;
}

h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
}

.subjectSelection {
  text-align: center;
  padding: 20px;
}

.subjectSelection select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.courseList {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.course {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.course h3 {
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.course p {
  color: #666;
  margin-bottom: 10px;
}

.course p strong {
  color: #000;
}

.enrollButton {
  background-color: #4CAF50;
  color: white;
  width: 100%;
  text-align: center;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.enrollButton:hover {
  background: #45a049;
}

label {
  color: #FFF;
}

select {
  appearance: none;
}

#toastBox {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.toast {
  width: 300px;
  height: 50px;
  background-color: #FFF;
  font-weight: 800;
  color: #222;
  margin: 20px 0;
  box-shadow: 0 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  transform: translateX(100%);
  animation: moveleft 0.5s linear forwards;
  font-size: 1.5em;
}

@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}

.toast::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #45a049;
  animation: anim 3s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}